<h1>Draggable Range Selector</h1>

<div class="selector-container">
  <div class="selector-child">
    Left Selector<br>
  x: {{ getXValue(verticalLineX1) }}<br>
  y: {{ getYValue(verticalLineX1) }}
  </div>

  <div class="selector-child">
    Right Selector<br>
    x: {{ getXValue(verticalLineX2) }}<br>
    y: {{ getYValue(verticalLineX2) }}
  </div>
</div>
<div style="position: relative;">
  <canvas #chartCanvas height="100"></canvas>
  <div id="customTooltip" style="display: none; position: absolute; background-color: rgba(0, 0, 0, 0.7); color: white; padding: 5px; border-radius: 5px;">
  </div>
</div>
